<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hi</title>
</head>
<body>
        <h1>Home page</h1>
        <% if(message.length > 0) {%>
                <div>
                    <p><%= message %></p>
                </div>
        <% }%>
        <form method = "POST" action="/login">
            <input type = "text" name = "username" placeholder="Username">
            <input type="password" name = "password" placeholder="Password">
            <input type = "submit" value = "Submit">
        </form>
        <a href="/signup">Sign up</a>
</body>
</html>
