<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing sass</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>testing sass</h1>
</body>
</html>